---
import BaseLayout from '@layouts/BaseLayout.astro';
import AuthForm from '@components/islands/AuthForm';
---

<BaseLayout>
  <div class="min-h-screen">
    <AuthForm client:only="react" />
  </div>
</BaseLayout>
